<!DOCTYPE html>

<html>
  <head>
    <title>MASH</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  
  <body>
    <h1>Welcome to MASH</h1>
    <h4>Bored? Want to play a game of MASH? It's an easy way to learn your 100% accurate future! <br></h4>
    <form action="/mash" method="post">
    To begin, enter your name:
    <input type="text" name="name">
    <input type="submit" value="Start!">
    </form>
  </body>
</html>