<!DOCTYPE html>

<html>
  <head>
    <title>MASH</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  
  <body>
    <h1>MASH</h1>
    <form action="/results" method="post">
    College
      <input type="text" name="college1">
      <input type="text" name="college2">
      <input type="text" name="college3">
      <input type="text" name="college4">
      <br>
      <form action="/results" method="post">
    Job
      <input type="text" name="job1">
      <input type="text" name="job2">
      <input type="text" name="job3">
      <input type="text" name="job4">
        <br>
        <form action="/results" method="post">
    Significant Other
      <input type="text" name="so1">
      <input type="text" name="so2">
      <input type="text" name="so3">
      <input type="text" name="so4">
          <br>
     <form action="/results" method="post">
    Place (Where you will live)
      <input type="text" name="place1">
      <input type="text" name="place2">
      <input type="text" name="place3">
      <input type="text" name="place4">
       <br>
        <form action="/results" method="post">
    Pet
      <input type="text" name="pet1">
      <input type="text" name="pet2">
      <input type="text" name="pet3">
      <input type="text" name="pet4">
          <br>
         <form action="/results" method="post">
    Number of Kids
      <input type="text" name="num1">
      <input type="text" name="num2">
      <input type="text" name="num3">
      <input type="text" name="num4">
           <br>
    <input type="submit" value="Play!">
    </form>
</html>