<!DOCTYPE html>

<html>
  <head>
    <title>MASH</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  
  <body>
    <h1>MASH</h1>
    <form action="/final" method="post">
    College:
      <br>
      <input type="text" name="college1">
      <br>
      <input type="text" name="college2">
      <br>
      <input type="text" name="college3">
      <br>
    Job:
        <br>
      <input type="text" name="job1"> 
        <br>
      <input type="text" name="job2">
        <br>
      <input type="text" name="job3">
        <br>
    Significant Other:
          <br>
      <input type="text" name="so1">
          <br>
      <input type="text" name="so2">
          <br>
      <input type="text" name="so3">
          <br>
    Place (Where you will live):
       <br>
      <input type="text" name="place1">
       <br>
      <input type="text" name="place2">
       <br>
      <input type="text" name="place3">
       <br>
    Pet:
          <br>
      <input type="text" name="pet1">
          <br>
      <input type="text" name="pet2">
          <br>
      <input type="text" name="pet3">
          <br>
    Number of Kids:
           <br>
      <input type="text" name="kid1">
           <br>
      <input type="text" name="kid2">
           <br>
      <input type="text" name="kid3">
           <br>
    Choose a number between 1 and 5:
    <input type="text" name="user_num">
    <input type="submit" value="Play!">
    </form>
  </body>
</html>